<form action="" class="form">

    <div class="row center"><h1>Login</h1></div>

       <!-- <div class="row">
        <label for="name">Name : </label>
        <input type="text" name="name" id="name" required>
        <div class="error name"></div>
        </div> -->


    <div class="row">
    <label for="email">Email : </label>
    <input type="email" name="email" id="email" required>
    <div class="error email"></div>
    </div>

   <div class="row">
    <label for="password">Password : </label>
    <input type="password" name="password" id="password" required>
    <div class="error password"></div>
    </div>

    <div class="row">
    <button class="btn center right" type="submit">Login</button>
    </div>


</form>


<script>

    const form=document.querySelector('.form');

    form.addEventListener('submit',(e)=>{
        e.preventDefault();
        const name=form.name.value;
        const email=form.email.value;
        const password=form.password.value;

        console.log(name," ",email," ",password);
    });
</script>