<form action="" id="otp-form" class="center">
   <h5>Enter OTP Sent to registered Mobile Number: </h5>
    <label for="otp-input">
        OTP:
    </label>  
    <input type="text" required name="otp" placeholder="Enter OTP" id="otp-input">
    <br>
    <div id="otp-error" class="red-text"></div>
    <br>
    <button class="btn" type="submit" id="otp-login">Verify</button>
</form>

