<form action="" class="form card" id="signup-form">

    <div class="row center"><h1>Sign Up</h1></div>

       <div class="row">
        <label for="name">Name : </label>
        <input type="text" name="name" id="name" required>
        <div class="error name"></div>
        </div>


    <div class="row">
    <label for="email">Email : </label>
    <input type="text" name="email" id="email" required>
    <div class="error email red-text" id="errE"></div>
    </div>

   <div class="row">
    <label for="password">Password : </label>
    <input type="password" name="password" id="password" required>
    <div class="error password red-text" id="errP"></div>
    </div>

    <div class="row">
    <button class="btn center black right" type="submit">Sign Up</button>
    </div>


</form>


